<div id="operation-block" class="header">
	<h4 style="margin:5px" id="Date">Page {{ currentPage }}</h4>
	<input type="text" id="input" placeholder="Type, please..." [(ngModel)]="newToDoText">
  <span id="add-button" (click)="addTask()">Add</span> 
</div> 
<ul class="work-block" id="current-page"> 
  <app-list
    (onChecked)="onChecked($event)"
    [todos]="todos"
    [currentPage]="currentPage">
  </app-list>
</ul> 
<app-navigation
  (onNewPage)="onNewPage($event)"
  (onFowardPage)="onFowardPage($event)"
  (onBackwardPage)="onBackwardPage($event)"
  [todos]="todos"
  [currentPage]="currentPage">
</app-navigation>