#NewPage {
  right: 0;
}

#ForwardPage {
  transform: rotate(90deg);
  right: 46px;
}

#BackPage {
  transform: rotate(270deg);
  right: 86px;
}

.NavigationButtons {
  position: absolute;
  bottom: 0;
  padding: 12px;
  transition: 0.4s;  
}

.NavigationButtons:hover {
  cursor: pointer;
  background-color: rgb(90, 46, 172);
  color: white;
  transition: 0.4s;  
}